.lightComponent {
  border-radius: 0 0 12px 12px;
  margin: 4px;
}

.lightComponent ul {
  list-style-type: none;
  padding: 0;
}

.lightComponent ul > li {
  margin: 0 0 16px 0;
}

.lightComponent ul > li:last-child {
  margin: 0;
}

.lightComponent fieldset {
  border-radius: 0 0 8px 8px;
  background-color: var(--section-background);
}

.state {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.state h3 {
  display: flex;
  justify-content: center;
  margin: 0;
  flex-basis: 100%;
}

.state button {
  flex-grow: 1;
  background-color: var(--primary-color);
  border-radius: 8px;
  min-height: 3rem;
}

.brightness {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.brightness > * {
  flex-basis: 100%;
}
