.controllerList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listItem {
  box-shadow: var(--box-shadow);
  border: 3px outset black;
  border-radius: 15px;
  overflow: hidden;
}

.header {
  display: flex;
}

.header button {
  user-select: text;
  border: none;
  background-color: var(--primary-color);
}

.header button:first-child {
  padding: 0 1rem;
  flex-grow: 1;
  text-align: left;
}

.header h3 {
  margin: 0.5rem 0;
}

.card {
  display: grid;
  grid-template-rows: 1fr;
  border-top: 1px solid black;
  background-color: var(--card-background);
}

.card .content {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 0.2em;
}

.card:global(.fade-enter) {
  grid-template-rows: 0fr;
}

.card:global(.fade-enter-active) {
  grid-template-rows: 1fr;
  transition: grid-template-rows 1000ms ease-in-out;
}

.card:global(.fade-exit) {
  grid-template-rows: 1fr;
}

.card:global(.fade-exit-active) {
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms ease-in-out;
}
