.controllerList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listItem {
  box-shadow: var(--box-shadow);
  border: 3px outset black;
  border-radius: 15px;
  overflow: hidden;
}

.header {
  display: flex;
}

.header button {
  user-select: text;
  border: none;
  background-color: var(--primary-color);
}

.header button:first-child {
  padding: 0 1rem;
  flex-grow: 1;
  text-align: left;
}

.header h3 {
  margin: 0.5rem 0;
}

.card {
  border-top: 1px solid black;
  background-color: var(--card-background);
  padding-bottom: 0.2em;
}

