.header {
  display: flex;
  align-items: center;
}

.title {
  flex-grow: 1;
}

.menu button {
  min-height: 3rem;
  min-width: 3rem;
} 

.menu button h3 {
  margin: 0;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
