.header {
  display: flex;
  align-items: center;
}

.title {
  flex-grow: 1;
  font-family: sans-serif;
  letter-spacing: -1px;
  font-size: 2rem;
}

.menu button {
  min-height: 3rem;
  min-width: 3rem;
  border-radius: 100%;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
