.controllerList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.closeButton {
  cursor: pointer;
  display: flex;
  background-color: transparent;
  border: none;
}

.messageIcon {
  color: var(--section-background);
  margin-top: 1rem;
}

.dropIndicator {
  height: 2px;
  background-color: black;
  margin: 0.5rem 8rem;
}

.dragging {
  transition: 0.0001s;
  /* remove it from document flow */
  position: absolute;
  /* have to set an absolute width because of position: absolute */
  width: 400px;
  /* get it out of the way */
  transform:translateX(-9999px);
}

.item {
  /* Prevent margin collpase for drop indicator */
  overflow: auto;
}
