.stateCardButtons {
  display: flex;
}

.stateCard {
  margin: 1rem;
}

.stateCardSliders {
  display: grid;
  padding: 0 2rem;
  gap: 2rem;
  grid-template-columns: 1fr 4fr;
}

.controllerList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listItem header {
  display: flex;
  background-color: gray;
}

.hostName {
  padding: 0 2rem;
  flex-grow: 1;
  text-align: left;
}
