.stateCardButtons {
  display: flex;
}

.stateCard {
  margin: 1rem;
}

.stateCardSliders {
  display: grid;
  padding: 0 2rem;
  gap: 2rem;
  grid-template-columns: 1fr 4fr;
}

.controllerList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listItem {
  box-shadow: 2px 2px 4px 2px lightslategray;
}

.listItem header {
  display: flex;
}

.listItem div {
  display: flex;
  justify-content: center;
}

.listItem div > * {
  flex-basis: 100%;
}

.listItem header button {
  background-color: transparent;
  border: none;
}

.hostName {
  padding: 0 1rem;
  flex-grow: 1;
  text-align: left;
  background-color: lightgray;
}

.hostName h3 {
  margin: 0.5rem 0;
}
