.footer {
  display: flex;
  justify-content: center;
  font-size: smaller;
  flex-wrap: wrap;
}

.footer a {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  color: black;
}

.dropTarget {
  /* prevent margin collapse */
  overflow: auto;
}

.dropIndicator {
  height: 2px;
  background-color: black;
  margin: 0.5rem 8rem;
}

.dropSpacer {
  height: 2rem;
}
